@mixin content{
  color: azure;
  word-spacing: 5px;
  font-size: 16px;
  font-family: 'Happy Monkey', cursive;
  font-weight: 800;
}

body{
  width: 80%;
  margin: auto;
}

// HEADER MAKE UP
.header {
  font-family: 'Bebas Neue', cursive;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}

//GAME TOOLS
.button {
  margin-left: 8%;
  margin-bottom: 10%;

}
.button:hover{
  border-radius: 10%;
  transform: scale(1.5) perspective(1px);
}


//GAME RESPONSES
#playerChoice {
  @include content;
  float: left;
  display: inline-block;
  width: 45%;
  height: 50px;
  background-color: lightpink;
  margin-bottom: 1.5em;
}

#cpuChoice {
  @include content;
  display: inline-block;
  float: right;
  width: 45%;
  height: 50px;
  background-color: cornflowerblue;
  margin-bottom: 1.5em;
}

#result {
  @include content;
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: orangered;
  margin-bottom: 1.5em;

}
