@media only screen and (max-width: 768px) {
  #rounds, #playerScore, #computerScore {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  #playerScore, #computerScore {
    font-size: 10px;
  }
  #rounds{
    font-size: 6px;
  }
}

@mixin content {
  color: rgba(239, 232, 232,);
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 800;
}
body{
  background: radial-gradient(circle, rgba(245,246,249,1) 0%, rgba(212,108,200,0.5788515235195641) 100%);
}

.page {
  width: 80%;
  margin: 10px auto 10px auto;
  background: radial-gradient(circle, rgba(245,246,249,1) 0%, rgba(212,108,200,0.5788515235195641) 100%);
  border: 2px solid rgb(15,15,15, 0.5);

}

// HEADER MAKE UP
.header {
  font-family: 'Bebas Neue', cursive;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

//GAME TOOLS
.button {
  margin-left: 8%;
  margin-bottom: 8%;

}

.button:hover {
  border-radius: 10%;
  transform: scale(1.5) perspective(1px);
}


//GAME RESPONSES
.matchOutcome{

}

.responses{
  text-align: center;

}


#playerChoice {
  @include content;
  display: table-cell;
  float: left;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #5da81a;
  margin-bottom: 1.5em;
}

#cpuChoice {
  @include content;
  display: table-cell;
  vertical-align: middle;
  float: right;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: cornflowerblue;
  margin-bottom: 1.5em;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#result {
  @include content;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: orangered;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
//SCOREBOARD
.scoreboard{
  display: flex;
  color: rgba(239, 232, 232);
  font-size: 2em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 800;

}
table{
  text-transform: uppercase;
  width: 100%;
}
#playerScore {
width: 33%;
}

#computerScore {
width: 33%;
}

#rounds{
  color: rgb(238, 2, 2, 0.5);
  width: 33%;
}

